/* *{
    outline: 1px solid;
} */
.content{
    position: absolute;
    inset: 100px 0px 0px 280px;
}
.header-info, .account-balance{
    font-weight: bold;
    font-size: 1.5rem;
}
.content-category{
    font-weight: bold;
}
.bcc-logo{
    width: 15%;
    height: 20vh;
}
.sort-data{
    width: 25%;
}