.contents {
  position: absolute;
  inset: 100px 0px 0px 280px;
}

.label-request {
  font-size: 1.5em;
}
ul {
  list-style: none;
}
.content-header{
  background-color: rgba(112, 108, 108, 0.137);
  padding: 10px;
}
.content-menu {
  width: 90%;
}

#non_bago,
#cash_out,
#certificate {
  cursor: pointer;
}

.fucos-class {
  color: blue;
  font-weight: bold;
}
