*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 5%;
    font-family: 'Trebuchet MS', sans-serif;
}
.header-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h3, .current-date{
    display: inline-block; 
}
h3{
    margin-right: -100px;
}
.current-date{
    float: right;
}
.bcc-logo{
    max-width: 15%;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td, tr{
    border: 1px solid black;
}
.nonBagoFee_sum{
    margin-top: 10px;
}