/* body {
    overflow-x: hidden;
    overflow-y: hidden;
} */
.content{
    position: absolute;
    inset: 100px 0px 0px 250px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label-data{
    font-size: 20px;
}
.label-info{
    font-size: 15px;
    color: blue;
    font-weight: bold;
}