* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 40px;
  font-weight: bold;
}
.content h3 {
  font-size: 25px;
  font-weight: bold;
}
.content img {
  margin-top: 5px;
  width: 210px;
  height: 205px;
}
.content p {
  font-size: 18px;
  font-weight: 500;
}
.content button {
  width: 200px;
}
.content .signin {
  margin-top: 200px;
}
@media only screen and (min-width: 320px) {
  body {
    background: url("../image/index_mobi.png") no-repeat center/cover fixed;
  }
  .content .signin {
    margin-top: 170px;
  }
  .content p {
    font-size: 15x;
  }
}
@media screen and (min-width: 1020px) {
  body {
    background: url("../image/index.png") no-repeat center center fixed;
  }
}