/* *{
            outline: 1px solid;
        } */
        .announcement {
          background-color: #2a325441;
          border-radius: 15px/15px;
          box-shadow: 0 1px 1px 1px #616161;
        }
        /* .z-{
          z-index: ;
        } */
        .message .welcome {
          color: black;
        }
        .menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 15px/15px;
          box-shadow: 0 1px 1px 1px #616161;
          cursor: pointer;
        }
        .menu p {
          margin-top: 5px;
        }
        #cash_out {
          background-color: #ffde81;
        }
        #menu-teller {
          background-color: #90b7b6;
        }
        #order-teller {
          background-color: #fda784;
        }
        .wallet-balance,
        .collection,
        .summary-income {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          border-radius: 15px/15px;
          box-shadow: 0 1px 1px 1px #616161d3;
          background-color: white;
        }
        .summary-income:hover {
          cursor: pointer;
          transform: scale(1.1) translateY(3px);
          transition: 0.3s;
        }
        
        .collection-balance,
        .balance-amount {
          color: black;
          font-size: 2em;
          font-weight: bold;
        }
        .count_noti{
          position: relative;
        }
        .num_noti{
          position: absolute;
          color: white;
          background-color: red;
          border-radius: 50%;
          width: 80%;
          text-align: center;
          left: 10px;
          bottom: 15px;
        }
        #btn_bell{
          font-size: 2em;
          cursor: pointer;
        }
        .header-content{
          position: relative;
        }
        .noti-content{
          position: absolute;
          height: 60vh;
          background-color: white;
          right: 0px;
          top: 35px;
          width: 50%;
          box-shadow: 0 1px 1px 1px #616161d3;
        }
        .btn-clear{
          background-color: rgba(0, 0, 0, 0.199);
          box-shadow: 0 1px 1px 1px #616161d3;
          cursor: pointer;
          padding: 5px 0px;
        }
        .noti-info{
          overflow-x: hidden;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        .noti_content_info{
          cursor: pointer;
        }
        .noti_content_info img{
          width: 10%;
          height: 5vh;
          border-radius: 50%;
        }
        .none_view{
          background-color: #d9d9d9;
        }
        @media screen and (min-width: 320px) {
          .home-info {
            padding-top: 100px;
          }
          .announcement {
            height: 150px;
            width: 100%;
            padding: 15px;
          }
          .message .welcome {
            font-size: 1em;
          }
          .announcement .logo {
            max-width: 4em;
          }
          .menus {
            margin-top: 60px;
          }
          .wallet-balance,
        .collection,
        .summary-income{
          width: 30%;
        }
          .menu {
            width: 80px;
            height: 80px;
          }
          .menu img {
            max-width: 3em;
          }
          .teller-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          #graph_image {
            width: 40px;
          }
          .text-label-category{
            font-size: 0.5rem;
          }
          .amount-data{
            font-size: 1rem;
          }
          .current-date{
            font-size: 0.5rem;
          }
        }
        
        @media screen and (min-width: 760px) {
          .home-info {
            padding: 130px 30px 0px 30px;
          }
          .announcement {
            height: 170px;
          }
          .message .welcome {
            font-size: 2em;
          }
          .announcement .logo {
            max-width: 6em;
          }
          .menu {
            width: 130px;
            height: 130px;
          }
          .menu img {
            max-width: 4em;
          }
          .teller-info {
            display: flex;
            justify-content: space-evenly;
          }
        }
        @media screen and (min-width: 1020px) {
          .home-info {
            padding-top: 50px;
            padding-left: 300px;
          }
          .announcement {
            height: 160px;
            width: 100%;
            padding: 15px;
          }
          .message .welcome {
            font-size: 2em;
          }
          .announcement .logo {
            max-width: 9em;
          }
          .menus {
            margin-top: 90px;
          }
          .menu {
            width: 120px;
            height: 120px;
          }
          .menu img {
            max-width: 3em;
          }
          .teller-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .wallet-balance,
          .collection {
            margin: 6px 0px 40px 0px;
          }
          .wallet-balance {
            height: 120px;
            width: auto;
          }
          .collection {
            height: 120px;
            width: auto;
          }
          #graph_image {
            width: 70px;
          }
          .wallet-balance,
        .collection,
        .summary-income{
          width: 100%;
        }
        .text-label-category{
          font-size: 1rem;
        }
        .amount-data{
          font-size: 1.5rem;
        }
        .current-date{
          font-size: 1rem;
        }
        }
        