/* * {
  outline: 1px solid;
} */
.content-info{
  padding-left: 300px;
  padding-top: 70px;
  
}
.content_data{
  border: 1px solid rgba(95, 93, 93, 0.404);
  border-radius: 5px/5px;
  padding: 10px;
  cursor: pointer;
}
.transaction-history{
  padding-bottom: 30px;
  font-size: 1.5rem;
}