/* * {
  outline: 1px solid;
} */
.content {
  position: absolute;
  left: 100px;
  top: 10px;
}

h2{
  white-space: nowrap;
}

.profile-info{
  background-color: #fff;
  box-shadow: 0 1px 1px 1px #777575;
  padding: 20px;
}

.profile_camera{
  width: 40%;
  position: relative;
}

.profile_camera #profile_img{
  width: 60%;
  border-radius: 50%;
}

.camera_icon{
  position: absolute;
  width: 20%;
  right: 40px;
  bottom: 0px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px #777575;  
}

.course-data{
  text-align: center;
}

#upload_profile{
  display: none;
}

#firstname, #lastname{
  text-align: center;
  font-weight: bold;
  display: none;
}

.camera_icon{
  display: none;
  cursor: pointer;
}

#change_pass{
  display: none;
}
.message-length .message-weak{
  color: red;
}
.message-length .message-strong{
  color: green;
}