.content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-label {
  align-self: start;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reader {
  width: 500px;
  margin-top: 45px;
  display: block !important;
}
.html5-qrcode-element {
  color: black;
}
#html5-qrcode-button-camera-permission {
  color: white;
}
#result {
  display: flex;
  flex-direction: column;
  background-color: azure;
  border-radius: 10px/10px;
  box-shadow: 0 1px 1px 1px #616161;
  padding: 30px;
  gap: 3px;
}
#result input {
  text-align: center;
}
.teller-store {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 25px;
}
.show {
  display: none !important;
}
@media screen and (min-width: 1020px) {
  .content-info {
    padding-left: 100px;
    padding-top: 50px;
    gap: 60px;
  }
  #result {
    width: 450px;
  }
}
