/* * {
    outline: 1px solid black;
} */

.content-info {
  margin-top: 30px;
}
.label-info {
  font-size: 30px;
}
.wallet-balance {
  background-color: white;
  box-shadow: 0 1px 1px 1px #616161a1;
  border-radius: 5px/5px;
  width: 200px;
  padding: 10px;
}
.balance-amount {
  font-size: 20px;
  font-weight: bold;
}
.form-content {
  height: 65vh;
}
.form-input {
  background-color: white;
  box-shadow: 0 1px 1px 1px #616161a1;
  border-radius: 5px/5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 20px 30px;
  width: 35%;
}
.insert-forms {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.profile-content {
  height: 100vh;
}
.user-profile,
.success-message {
  background-color: white;
  box-shadow: 0 1px 1px 1px #616161a1;
  height: 100vh;
}
.profile-name img {
  max-width: 30%;
}
.profile-name .user-name {
  font-size: 30px;
  font-weight: bold;
}
.user_type {
  font-size: 20px;
}
.data-info {
  margin-top: 10px;
}
.label-data {
  width: 100%;
  padding: 5px 5px;
  background-color: #f3f3f3;
  border-style: groove;
  border-width: 1px;
  border-color: rgba(98, 95, 95, 0.529);
}

.input-piso {
  position: relative;
}
.piso-sign {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 30px;
}
.success-icon .success-text {
  font-weight: bold;
  font-size: 20px;
}
.success-icon img {
  max-width: 15%;
}
.image img {
  max-width: 40%;
}
.name-receiver h5 {
  font-size: 30px;
  font-weight: bold;
}
.amount-sent {
  background-color: #f3f3f3;
  border-radius: 5px/5px;
  padding: 10px 20px;
  border-style: groove;
  border-width: 1px;
  border-color: rgba(98, 95, 95, 0.529);
}
.peso-sign .sign,
.amount-sended {
  font-size: 35px;
  font-weight: bold;
}

.swal-label {
  text-align: left;
}
.swal-review-amount {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  border-radius: 10px/10px;
  gap: 20px;
  margin: 10px;
}
.amount-info {
  font-size: 32px;
  font-weight: bold;
}
.swal-name-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}
.swal-image {
  width: 60px;
  height: auto;
}
.insert_form {
  position: relative;
}
#eye-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.modal-data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 320px) {
  .content-data {
    position: relative;
    top: 40px;
    width: 92%;
  }
}

@media screen and (min-width: 1020px) {
  .content-data {
    position: relative;
    top: 0px;
    left: 100px;
    width: 92%;
  }
}