/* *{
    outline: 1px solid black;
} */
.content-info {
  position: absolute;
  left: 100px;
  width: 92%;
}
.content-userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 20%;
  padding: 4% 5%;
  box-shadow: 0 1px 1px 1px #616161a1;
  border-radius: 10px/10px;
  background-color: white;
  gap: 10px;
}
.content-userInfo img {
  max-width: 35%;
}
.content-label p {
  color: #375076;
}
.personal-data {
  align-self: flex-start;
}
.balance_label {
  background-color: #c6d8de;
  width: 100%;
  text-align: center;
  padding: 1%;
}
.line {
  background-color: black;
  height: 2px;
}

@media screen and (min-width: 320px) {
  .content-data {
    position: relative;
    top: 40px;
    width: 92%;
  }
}

@media screen and (min-width: 1020px) {
  .content-data {
    position: relative;
    top: 40px;
    width: 92%;
  }
}