.content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-info .content-label {
  align-self: start;
  font-weight: bold;
}
.scan-qr {
  background-color: azure;
  padding: 10px;
  box-shadow: 0 1px 1px 1px #616161;
  border-radius: 10px/10px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .content-info {
    padding-top: 100px;
    gap: 60px;
  }
  .qr_instruction img {
    max-width: 800px;
  }
}

@media screen and (min-width: 1020px) {
  .content-info {
    padding-left: 100px;
    padding-top: 50px;
    gap: 60px;
  }
  .qr_instruction img {
    max-width: 800px;
  }
}
